
.card{
  font-family: 'Montserrat', sans-serif;
  width: 40%
  align-content: left;

}

.card-header{
  background-color: #add8e6;
  font-family: 'Montserrat', sans-serif;
}

.main-page{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#task-queue{
  grid-column-start: 1;
  grid-column-end: 3;
  position: absolute;
  top: 100px;
  left: 30px;
}

.profile-name{
  font-weight: bold;
  background-color: #add8e6;
  height: 50px;
  width: 100px;
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10%;
}

#messaging{
  display: inline-grid;
  position: absolute;
  margin: 10px;
  top: 100px;
  right: 50px;
  width: 40%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: inline-block;
}

#messaging ul{
  overflow: scroll;
  height: 50vh;
  text-align: left;
  grid-row-start: 1;
}

#message-head{
  border-radius = 10%;

}

#messages{
  word-wrap: break-word;
  text-align: left;
  display: inline-block;
  align-content: center;
}

#message-button{
  align-content: center !important;
  background-color: #add8e6;
  width: 40%;
  font-weight: bold;
  display:inline-block;
  margin-top: 5px;
  border-radius: 10%;
  box-shadow: 2px 2px black;
  cursor: pointer;
}

body{
  background-color: #f5bc5e;
}

#message{
  margin: 2px;

}

.task-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 20px;
  left: 30px;
}

.do-button{
  font-weight: bold;
  padding: 5px;
  text-align: center;
  background-color: #add8e6;
  box-shadow:2px 2px black;
  border-radius: 10%;
  cursor: pointer;
}


#myCreatedTasks{
  position: absolute;
  top: 700px;
  right: 50px;
  width: 40%;
}

