{% extends 'base.html' %}
{% block content %}

<h1>blah</h1>
<input type="text" value="task" name="task" id="task"/>
<input type="text" value="description" name="" id="task"/>
<input type="number" value="reward" name="reward" id="reward"/>
<input type="text" value="estimate_time" name="estimated_time" id="estimated_time"/>
<button onclick="createTask()"></button>

<script charset="utf-8">
let username = new URLSearchParams(window.location.search).get("username");

function createTask(){
  $.get("/createTask", {
    "description": $("#description"), 
    "reward": $("#reward"), 
    "task": $("#task"), 
    "username": username 
    }, function(data){
      window.location.href = `main?username=${$("#username").val()}`;
  });
}
</script>

{% endblock %}

