{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock %}

{% block content %}


<div class = "main-page">
  <div class = "task-title">Available Tasks:</div>
  <a href="createTask" id="createTask">createTask</a>
  <h1 id="currency"> </h1>
</div>

<div class = "card" id = "messaging">
  <h1 class = "card-header" id = "message-head">messages</h1>
  <ul class = "list-group" id="messages">
  </ul>
  <input type="text" name="message" id="message"/>
  <br>
  <input type="text" value="send to" name="bob" id="sendto"/>
  <br>
  <div onclick="sendMessage()" id = "message-button">Send Message</div>
</div>

<div id="myCreatedTasks">
<h1>My Created Tasks</h1>
  
</div>

<div id="myAssignedTasks">
<h1>My Assigned Tasks</h1>
  
</div>

<div class = "main-page">
  <div class="tasks" id="task-queue"></div>
  <h1 class="profile-name" id="profile"></h1>
</div>

<script charset="utf-8">
$.notify("hello!", "success");
let username = new URLSearchParams(window.location.search).get("username");
$.get("/currency", {"username":username},function(data){
  console.log(data)
  $("#currency").text("timedimes: "+data);
})

$("#createTask").attr("href", "createTask?username="+username);
$('#profile').text(username);
$.get("/load_all_messages", {"username": username}, function(data){
  console.log(data);
  for(let i = data.length -1; i>=0; i--){
    $("#messages").append(`<li class = "list-group-item">From: ${data[i].from}<br>To: ${data[i].to}<br>Message: ${data[i].message}</li>`);
  }
});

$.get("/get_general_tasks", function(tasks){ 
  for(var i = 0; i< tasks.length; i++) {
    var card = document.createElement("div");
    card.className = "card";
    var linebreak = document.createElement("br");
    var initiatorText = document.createElement("h3");

    initiatorText.innerHTML = `${tasks[i].initiator}: ${tasks[i].description}`;
    initiatorText.className = "card-header";
    card.appendChild(initiatorText);
    var rewardText = document.createElement("li");
    rewardText.innerHTML = `${tasks[i].reward} time dimes for ${tasks[i].estimated_time} hour(s)`;
    rewardText.className = "list-group-item";
    card.append(rewardText);

    let tmp = card.cloneNode(true);

    var doButton = document.createElement("div");
    doButton.innerHTML = "Accept Task";
    doButton.className = "do-button";
    let curId = escape("generaltask"+tasks[i].taskId);
    doButton.id = curId;
    doButton.onclick = function(){$.get("acceptTask", {"username": username, "taskId": curId}, function(data){$.notify(data)})};
    tmp.appendChild(doButton);
    document.getElementById('task-queue').append(tmp);
    document.getElementById('task-queue').append(linebreak);

    if(tasks[i]["assigned"] == username){
    
     let blah = card.cloneNode(true);

     var doButton = document.createElement("div");
     doButton.innerHTML = "Complete Task";
     doButton.className = "do-button";
     let curId = escape("mytask"+tasks[i].taskId);
     doButton.id = curId;
     let initiator = tasks[i].initiator;
     let description = tasks[i].description;
     doButton.onclick = function(){completeTask(description, initiator)};

      blah.appendChild(doButton);
      document.getElementById('myAssignedTasks').append(blah);
      document.getElementById('myAssignedTasks').append(linebreak);
    }

    if(tasks[i]["initiator"] == username){

      var doButton = document.createElement("div");
      doButton.innerHTML = "Verify Task Completion";
      doButton.className = "do-button";
      let curId = escape("mytask"+tasks[i].taskId);
      doButton.id = curId;
     doButton.onclick = function(){$.get("/verify_task_complete", 
                               {"username": username, "taskId": curId}, 
                               function(data) {
                                  $.notify(data);
                               });};
      card.appendChild(doButton);
      document.getElementById('myCreatedTasks').append(card);
      document.getElementById('myCreatedTasks').append(linebreak);
    }


  }
});

setInterval(function(){
  $.get("/load_unread_messages", {"username": username}, function(data){
    for(let i in data){
      $.notify(JSON.stringify(data[i]), "success");
    }
  });
},
1000);

function sendMessage(){
  $.get("/create_message", {"message": $("#message").val(), "username": username, "sendto": $("#sendto").val()},
  function(data){
    if(data == "failure"){
      $.notify("Message not sent! either the username or YOUR username is not a registered user", "error");
    }
    else {
      $.notify("Message probably sent", "success");
    }
  });
}


function completeTask(task, initiator){
  $.get("/create_message", {"message": "taskCompleted: "+task, "username": username, "sendto": initiator},
  function(data){
    if(data == "failure"){
      $.notify("Message not sent! either the username or YOUR username is not a registered user", "error");
    }
    else {
      $.notify("Message probably sent", "success");
    }
  });
}

</script>

{% endblock %}
