{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock %}

{% block content %}

<div class = "task-title">Available Tasks:</div>

<div class = "card" id = "messaging">
  <h1 class = "card-header" id = "message-head">messages</h1>
  <ul class = "list-group" id="messages">

  </ul>
  <input type="text" name="message" id="message"/>
  <br>
  <input type="text" value="send to" name="bob" id="sendto"/>
  <br>
  <div onclick="sendMessage()" id = "message-button">Send Message</div>
</div>




<script charset="utf-8">
$.notify("hello!", "success");
let username = new URLSearchParams(window.location.search).get("username");
$.get("/load_all_messages", {"username": username}, function(data){
  console.log(data);
  for(let i = data.length -1; i>=0; i--){
    $("#messages").append(`<li class = "list-group-item">From: ${data[i].from}<br>To: ${data[i].to}<br>Message: ${data[i].message}</li>`);
  }
});

setInterval(function(){
  $.get("/load_unread_messages", {"username": username}, function(data){
    for(let i in data){
      $.notify(JSON.stringify(data[i]), "success");
    }
  });
},
1000);


</script>


<script charset="utf-8">
function sendMessage(){
  $.get("/create_message", {"message": $("#message").val(), "username": username, "sendto": $("#sendto").val()},
  function(data){
    if(data == "failure"){
      $.notify("Message not sent! either the username or YOUR username is not a registered user", "error");
    }
    else {
      $.notify("Message probably sent", "success");
    }
  });
}

</script>

<div class = "main-page">
  <div class = tasks id = "task-queue"></div>
  <div class = profile id = "profile"></div>
</div>


<script type="text/javascript">
  var tasks = [
  {
    "initiator": "rishi",
    "reward": 100,
    "description": "mow my grandma's lawn",
    "estimated_time": "1"
  }, {
    "initiator": "joy",
    "reward": 30,
    "description": "tutor me in math",
    "estimated_time": "1"
  },{
    "initiator": "joy",
    "reward": 30,
    "description": "tutor me in math",
    "estimated_time": "1"
  },{
    "initiator": "joy",
    "reward": 30,
    "description": "tutor me in math",
    "estimated_time": "1"
  },{
    "initiator": "joy",
    "reward": 30,
    "description": "tutor me in math",
    "estimated_time": "1"
  }
]

window.onload = function(){
  for(var i = 0; i< tasks.length; i++)
  {
    var card = document.createElement("div");
    card.className = "card";
    var linebreak = document.createElement("br");
    var initiatorText = document.createElement("h3");

    initiatorText.innerHTML = `${tasks[i].initiator}: ${tasks[i].description}`;
    initiatorText.className = "card-header";
    card.appendChild(initiatorText);
    var rewardText = document.createElement("li");
    rewardText.innerHTML = `${tasks[i].reward} time dimes for ${tasks[i].estimated_time} hour(s)`;
    rewardText.className = "list-group-item";
    card.append(rewardText);
    // var doButton = document.createELement("div");
    // doButton.innerHTML = "Do Task";
    // doButton.className = "do-button";
    // card.append(doButton);
    console.log(tasks[i]);
    document.getElementById('task-queue').append(card);
    document.getElementById('task-queue').append(linebreak);
  }
  var parser = document.createElement('a');
  parser.href = window.location.href;
  var profileName = document.createElement("div");
  profileName.className = "profile-name";
  var name = parser.search.split("=");
  name = name[1].split("&");
  profileName.innerHTML = name[0];
  document.getElementById('profile').append(profileName);
}



</script>

{% endblock %}
